<h2>Inicio Sesión</h2>
<div *ngIf='!estaFirmado'>
   <div class="col-md-12">
      <form class="form-horizontal" style="margin:0 auto" [formGroup]="loginForm" (submit)="onSubmit()">

         <div class="form-group">
             <label class="col-sm-12 control-label">Usuario: </label> 
                           
            <div class="col-sm-12">
               <!-- <span class="input-group-addon iconos-login"><i class="glyphicon glyphicon-user"></i></span> -->
               <input  type="text" class="form-control max-largo-ctrl" formControlName="username"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Usuario">
               <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Usuario es requerido</div>
               </div>
            </div>
         </div>

         <div class="form-group">
           
            <label class="col-sm-12 control-label">Contraseña: </label> 

            <div class="col-sm-12">
             <!--  <span class="input-group-addon iconos-login"><i class="glyphicon glyphicon-lock"></i></span> -->
               <input type="password" class="form-control max-largo-ctrl" formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Contraseña">
               <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Contraseña es requerida</div>
               </div>
            </div>
         </div>

         <div class="form-group">
            <button [disabled]="loading" type="submit" class="btn btn-primary">Login</button>
            <img *ngIf="loading"
               src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/register']" class="btn btn-link">Registrarse</a>

            <div>
               <a [routerLink]="['/rescuePass']" class="btn btn-link">¿Olvidaste tu Contraseña?</a>
            </div>

         </div>

      </form>

      <br>
      <div>
         <button (click)="signIn()" type="button" class="btn btn-secundary" style="background-color: #6EBE44;" >Iniciar
            Sesión con Google</button>
      </div>

   </div>
</div>

<div class="row" *ngIf='estaFirmado'>
   <h2> Se ha iniciado sesión exitosamente </h2>
   <br>
   <button (click)="signOut()" type="button" class="btn btn-primary" style="background-color: #6EBE44;">Cerrar Sesión</button>
</div>