<div class="main__section">

    <!--
        VERSION ANTERIOR DE ANGULAR AHORA DEPRECATED REVISAR:
        https://angular.io/api/forms/FormControlName#use-with-ngmodel

         <form [formGroup]="myForm" (submit)="crear()">
    <mat-form-field >
        <input matInput type="text"  formControlName="nombre"  placeholder="Nombre" [(ngModel)]="currentuser.nombre">
    </mat-form-field>

    <mat-form-field >
        <input matInput type="text"  formControlName="apellido"  placeholder="Apellido" [(ngModel)]="currentuser.apellido">
    </mat-form-field>

    <mat-form-field >
        <input matInput type="text"  formControlName="edad"  placeholder="Edad" [(ngModel)]="currentuser.edad">
    </mat-form-field>

    <div>
            <button mat-button type="submit"> Crear </button>
            <button mat-button (click)="borrar()"> Borrar </button>
            <button mat-button (click)="actualizar()"> Actualizar </button>
    </div>

 </form>
    -->

 <form [formGroup]="myForm" (submit)="crear()">
    <mat-form-field >
        <input matInput type="text"  formControlName="nombre"  placeholder="Nombre" >
    </mat-form-field>

    <mat-form-field >
        <input matInput type="text"  formControlName="apellido"  placeholder="Apellido" >
    </mat-form-field>

    <mat-form-field >
        <input matInput type="text"  formControlName="edad"  placeholder="Edad" >
    </mat-form-field>

    <div>
            <button mat-button type="submit"> Crear </button>
            <button mat-button (click)="borrar()"> Borrar </button>
            <button mat-button (click)="actualizar()"> Actualizar </button>
    </div>

 </form>

   