<div class="main__section">

  

 <form [formGroup]="myForm" (submit)="crear()">
    <div class="form-group">
        <label for="nombreAlta">Nombre</label>
        <input class="form-control" type="text"  id="nombreAlta" formControlName="nombre"  placeholder="Nombre" >
    </div>

    <div class="form-group">
        <label for="apellidoAlta">Apellido</label>
        <input class="form-control" type="text"  id="apellidoAlta" formControlName="apellido"  placeholder="Apellido" >
    </div>

    <div class="form-group">
            <label for="edadAlta">Edad</label>
        <input class="form-control" type="text" id="edadAlta" formControlName="edad"  placeholder="Edad" >
    </div>

    <div class="form-group">
            <button class="btn btn-primary float-md-right" type="submit"> Crear </button>
            <button class="btn btn-secondary float-md-right" (click)="borrar()"> Borrar </button>
            <button class="btn btn-secondary float-md-right" (click)="actualizar()"> Actualizar </button>
    </div>

 </form>

</div>



  <!--
        VERSION ANTERIOR DE ANGULAR AHORA DEPRECATED REVISAR:
        https://angular.io/api/forms/FormControlName#use-with-ngmodel

         <form [formGroup]="myForm" (submit)="crear()">
    <mat-form-field >
        <input matInput type="text"  formControlName="nombre"  placeholder="Nombre" [(ngModel)]="currentuser.nombre">
    </mat-form-field>

    <mat-form-field >
        <input matInput type="text"  formControlName="apellido"  placeholder="Apellido" [(ngModel)]="currentuser.apellido">
    </mat-form-field>

    <mat-form-field >
        <input matInput type="text"  formControlName="edad"  placeholder="Edad" [(ngModel)]="currentuser.edad">
    </mat-form-field>

    <div>
            <button mat-button type="submit"> Crear </button>
            <button mat-button (click)="borrar()"> Borrar </button>
            <button mat-button (click)="actualizar()"> Actualizar </button>
    </div>

 </form>
    -->
   