<form class="form-horizontal" style="margin:0 auto; max-width: 300px;" >
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="aaaa-mm-dd"
               name="dp" [(ngModel)]="modelFecha" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </form>




  <hr/>
<pre>Model: {{ modelFecha | json }}</pre>
