<h2>Registrarse</h2>

<div *ngIf='!estaFirmado'>

    <form class="form-horizontal" style="margin:0 auto" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
                <label class="col-sm-12 control-label" for="nombre">Nombre: </label>
            <div class="col-sm-12">
                <input type="text" formControlName="nombre" class="form-control max-largo-ctrl"
                    placeholder="Tu nombre aqui..." [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                    <div *ngIf="f.nombre.errors.required">Nombre requerido</div>
                </div>
            </div>
        </div>


        <div class="form-group">
                <label class="col-sm-12 control-label" for="apPaterno">Apellido Paterno: </label>
            <div class="col-sm-12">
                <input type="text" formControlName="apPaterno" class="form-control max-largo-ctrl"
                    placeholder="Tu apellido paterno..." [ngClass]="{ 'is-invalid': submitted && f.apPaterno.errors }" />
                <div *ngIf="submitted && f.apPaterno.errors" class="invalid-feedback">
                    <div *ngIf="f.apPaterno.errors.required">Apellido requerido</div>
                </div>
            </div>
        </div>

        <div class="form-group">
                <label class="col-sm-12 control-label" for="apMaterno">Apellido Materno: </label>
            <div class="col-sm-12">
                <input type="text" formControlName="apMaterno" class="form-control max-largo-ctrl"
                    placeholder="Tu apellido materno..." [ngClass]="{ 'is-invalid': submitted && f.apMaterno.errors }" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-12 control-label" for="correo">Correo: </label>
            <div class="col-sm-12">
                <input type="text" formControlName="correo" class="form-control max-largo-ctrl"
                    placeholder="Tu correo aqui..." [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" />
                <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                    <div *ngIf="f.correo.errors.required">Correo requerido</div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-12 control-label" for="passwSistema">Contraseña: </label>
            <div class="col-sm-12">
                <input type="password" formControlName="passwSistema" class="form-control max-largo-ctrl"
                    placeholder="Tu Contraseña" [ngClass]="{ 'is-invalid': submitted && f.passwSistema.errors }" />
                <div *ngIf="submitted && f.passwSistema.errors" class="invalid-feedback">
                    <div *ngIf="f.passwSistema.errors.required">Contraseña requerida</div>
                    <div *ngIf="f.passwSistema.errors.minlength">Contraseña deberá ser de al menos 6 caacteres</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-12 control-label" for="repetirpassword">Repetir Contraseña: </label>
            <div class="col-sm-12">
                <input type="password" formControlName="repetirpassword" class="form-control max-largo-ctrl"
                    placeholder="De nuevo tu contraseña"
                    [ngClass]="{ 'is-invalid': submitted && f.repetirpassword.errors }" />
                <div *ngIf="submitted && f.repetirpassword.errors" class="invalid-feedback">
                    <div *ngIf="f.repetirpassword.errors.required">campo requerido</div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-12 control-label" for="capoNombre">Nombre Capoeira: </label>
            <div class="col-sm-12">
            <input type="text" formControlName="capoNombre" class="form-control max-largo-ctrl"
                placeholder="Tu apodo de capoeira..." />
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Registrar</button>
            <img *ngIf="loading"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Cancelar</a>
        </div>
    </form>



</div>