<custom-header>
  <nav >
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    &nbsp;
    <a routerLink="user" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Usuario</a>
    
    &nbsp;
    <a routerLink="examen" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Examen</a>

    &nbsp;
    <a routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Login</a>
    
  </nav>

</custom-header>

<div class="jumbotron fuente-especial">
  <div class="text-center">
      <alert></alert>
      <router-outlet></router-outlet>
  </div>
</div>


