<div>
    <h2>Cambiar Contraseña</h2>

    <form class="form-horizontal" style="margin:0 auto" [formGroup]="formGroupActivePass" (submit)="changePassword()">

        <div class="form-group">
            <input type="password" class="form-control max-largo-ctrl" formControlName="passwd"
                [ngClass]="{ 'is-invalid': submitted && f.passwd.errors }" placeholder="Contraseña" >
            <div *ngIf="submitted && f.passwd.errors" class="invalid-feedback">
                <div *ngIf="f.passwd.errors.required">Contraseña requerida</div>
            </div>
        </div>
        
        <div class="form-group">
            <input type="password" class="form-control  max-largo-ctrl" formControlName="passwRepetir"
                [ngClass]="{ 'is-invalid': submitted && f.passwRepetir.errors }"  placeholder="Repetir Contraseña" >
            <div *ngIf="submitted && f.passwRepetir.errors" class="invalid-feedback">
                <div *ngIf="f.passwRepetir.errors.required">campo requerido</div>
                <div *ngIf="formGroupActivePass.hasError('validadorRepetirPassw')">las contraseñas no son iguales</div> 
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="loading" type="submit" class="btn btn-primary">Aceptar</button>
            <img *ngIf="loading"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>

    </form>
</div>